@media screen and (max-width: 414px) {
.AboutHeader {
  width: 100vw !important;
  height: 33vh !important;
  display: flex;
  flex-direction: column !important;
  justify-content: space-between !important;
  flex-wrap: wrap;
}

.AboutList li a {
  font-size: 15px;
  width: 100%;
  margin-left: 0 !important;
  padding-left: 5%;
  padding-bottom: 10px;
}



.AboutList {
  padding: 0;
  display: block;
  margin: 0;
  margin-left: 0;
}

body {
  top: 45vh !important;
}

.Experimenting h2, .Growing h2, .Fame h2, .Present h2 {
  padding-top: 40vh !important;
}

.EarlyLife, .Experimenting, .Growing, .Fame, .Present {
  margin: 0 !important;
  margin-left: 5vw !important;
  margin-right: 5vw !important;
}

.EarlyLife h1 {
  color:  #dbb52f;
  text-shadow: 3px 3px 0px #c76037;
  padding-top: 5vh;
  font-size: 7vh;
}




}