@media screen and (max-width: 770px) and (min-width: 415px) {
.StoreInfo h1 {
  font-size: 8vh;
}

.FirstBox, .SecondBox {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  align-items: center;
  width: 95% !important;
}

.SecondBox {
  height: 100%;
  margin-top: 0vh !important;
}

.FirstInnerBox, .SecondInnerBox, .ThirdInnerBox {
  width: 95% !important;
}

.AboutHeader {
 display: none !important;
}

.StoreBody {
  top: 80px !important;
}

.FeaturedHolder {
  margin: 0 !important;
}

.Box1 {
  width: 45% !important;
  margin: 1vh !important;
  text-align: center;
}




}